In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('bsm 2p psfe.csv')
df.head()

,S F,S A,S I,S NH4,S PO4,X i,X S,X H,X TSS,Q,...,tp,tss,ammonia,bod5,carbon,h2,methane,NO,N2,RR
0,53.170777,43.639187,31.919538,19.385486,3.613629,93.229706,351.358791,45.369668,355.157538,15307.63858,...,1.224058,30.585993,0.139058,2.148730,1321.410304,0.003236,933.765623,717.813237,2138.100228,70.826474
1,51.998858,42.677351,31.685785,19.493344,3.838283,94.105669,352.207167,45.517480,356.508095,14574.93809,...,1.193506,29.561391,0.142296,2.105285,1322.277244,0.003237,934.061744,679.791369,2035.989836,68.525316
2,50.651975,41.571915,31.509670,19.178030,4.105598,93.981237,350.862604,45.693588,355.646347,14070.15137,...,1.165609,28.835293,0.145253,2.065195,1323.150062,0.003237,934.304890,652.846088,1965.349259,66.928797
3,49.200102,40.380310,31.385439,18.550334,4.401141,93.092217,347.890504,45.888119,353.124707,13672.40127,...,1.140822,28.248671,0.147880,2.030011,1323.996350,0.003238,934.486918,631.354136,1909.873041,65.664470
4,47.726799,39.171117,31.292641,17.787845,4.711351,91.843429,344.228528,46.089038,349.873102,13321.63340,...,1.119081,27.721714,0.150127,1.999745,1324.836607,0.003238,934.630692,612.396265,1861.019256,64.545369

In [3]:
df.describe()

,S F,S A,S I,S NH4,S PO4,X i,X S,X H,X TSS,Q,...,tp,tss,ammonia,bod5,carbon,h2,methane,NO,N2,RR
count,34944.000000,34944.000000,34944.000000,34944.000000,34944.000000,34944.000000,34944.000000,34944.000000,34944.000000,34944.000000,...,34944.000000,34944.000000,34944.000000,34944.000000,34944.000000,34944.000000,34944.000000,34944.000000,34944.000000,34944.000000
mean,65.924782,54.106862,27.354630,24.152427,5.429997,93.610742,368.263303,51.281462,372.932348,20935.404488,...,1.387850,36.790810,1.684387,3.041884,1350.438458,0.003563,975.314534,933.211365,2723.375649,76.941079
std,33.763119,27.710618,5.101709,10.046002,2.312198,33.452275,130.274027,18.472167,131.641868,8509.603527,...,1.746277,11.171102,1.549270,5.232034,63.197033,0.000245,42.508757,474.915476,1089.591861,19.764779
min,1.110071,0.911076,2.108108,1.750411,0.191626,4.987019,20.522235,2.475601,29.856373,6436.291406,...,0.736252,15.920108,0.082951,1.665248,1127.360992,0.002916,815.283241,99.509180,874.176058,33.216145
25%,38.377696,31.497968,25.204803,16.543532,3.694149,68.685831,271.178305,37.596506,274.318750,14800.505442,...,0.968464,28.825959,0.384074,2.168304,1310.416616,0.003391,949.063435,595.269192,1928.890266,61.673017
50%,62.929580,51.648592,28.143939,23.282028,5.276130,96.113551,379.783488,52.654986,385.006101,19740.375525,...,1.102213,35.491106,1.213736,2.440078,1352.721267,0.003562,977.974159,876.912352,2568.605984,75.541724
75%,89.018815,73.060974,30.587379,30.632422,7.004173,116.676176,458.979153,64.597806,464.270487,25366.166965,...,1.336674,42.797343,2.588521,2.817632,1393.911969,0.003747,1004.815011,1167.414888,3295.355311,89.985173
max,173.287773,142.223568,41.112506,58.653123,14.979794,201.308722,776.482674,107.249934,787.825745,76944.068700,...,43.719176,93.379689,8.931518,130.574807,1521.941391,0.004210,1084.565689,4771.833645,8502.411616,161.372533

In [4]:
df.isnull().sum()

S F        0
S A        0
S I        0
S NH4      0
S PO4      0
X i        0
X S        0
X H        0
X TSS      0
Q          0
Temp       0
x iss      0
cod        0
tn         0
tp         0
tss        0
ammonia    0
bod5       0
carbon     0
h2         0
methane    0
NO         0
N2         0
RR         0
dtype: int64

In [5]:
columns=df.columns
print(columns)

Index(['S F ', 'S A ', 'S I ', 'S NH4 ', 'S PO4 ', 'X i ', 'X S ', 'X H ',
       'X TSS', 'Q', 'Temp', 'x iss', 'cod', 'tn', 'tp', 'tss', 'ammonia',
       'bod5', 'carbon', 'h2', 'methane', 'NO', 'N2', 'RR'],
      dtype='object')

In [6]:
features=columns[:12]
print(features)

Index(['S F ', 'S A ', 'S I ', 'S NH4 ', 'S PO4 ', 'X i ', 'X S ', 'X H ',
       'X TSS', 'Q', 'Temp', 'x iss'],
      dtype='object')

In [7]:
targets=columns[12:-1]
print(targets)

Index(['cod', 'tn', 'tp', 'tss', 'ammonia', 'bod5', 'carbon', 'h2', 'methane',
       'NO', 'N2'],
      dtype='object')

In [8]:
X=df[features]
y=df[targets]

In [9]:
print(len(X))

34944

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import ExtraTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV

In [11]:
def score(model,x_train,x_test,y_train,y_test):
    model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    return r2_score(y_pred,y_test)

In [12]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [13]:
sc1=StandardScaler()
x_train_sc=sc1.fit_transform(x_train)
x_test_sc=sc1.transform(x_test)
sc2=StandardScaler()
y_train_sc=sc2.fit_transform(y_train)
y_test_sc=sc2.fit_transform(y_test)

In [14]:
pc=PCA(n_components=10)
x_train_sc_pca=pc.fit_transform(x_train_sc)
x_test_sc_pca=pc.fit_transform(x_test_sc)

In [15]:
dtr=DecisionTreeRegressor(random_state=0)
score(dtr,x_train_sc,x_test_sc,y_train_sc,y_test_sc)

0.7340105552172944

In [16]:
etr=ExtraTreeRegressor(random_state=0)
score(etr,x_train_sc,x_test_sc,y_train_sc,y_test_sc)

0.7335191148604964

In [17]:
rfr=RandomForestRegressor(random_state=0,max_depth=200)
score(rfr,x_train_sc,x_test_sc,y_train_sc,y_test_sc)

0.839414586211316

RandomForest Tuning

In [18]:
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
min_samples_split = [2, 5, 10]
min_samples_leaf = [1, 2, 4]
bootstrap = [True, False]

random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [20]:
rf=RandomizedSearchCV(RandomForestRegressor(),random_grid,n_iter=100,cv=3,verbose=2,random_state=0,n_jobs=-1)
rf.fit(x_train_sc,y_train_sc)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

In [ ]:
rf.best_estimator_

RandomForestRegressor(bootstrap=False, max_depth=100, max_features='sqrt',
                      n_estimators=1600)

In [ ]:
best_rfr=RandomForestRegressor(bootstrap=False, max_depth=100, max_features='sqrt',
                      n_estimators=1600)

In [ ]:
best_rfr.fit(x_train_sc,y_train_sc)

RandomForestRegressor(bootstrap=False, max_depth=100, max_features='sqrt',
                      n_estimators=1600)

In [ ]:
y_pred=best_rfr.predict(x_test_sc)
r2_score(y_pred,y_test_sc)

0.8773668660865946